[submodule "roms/vgabios"]
	path = roms/vgabios
	url = /projects/boeing/isi/hpsc/sdk/qemu/vgabios
[submodule "roms/seabios"]
	path = roms/seabios
	url = /projects/boeing/isi/hpsc/sdk/qemu/seabios
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = /projects/boeing/isi/hpsc/sdk/qemu/SLOF
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = /projects/boeing/isi/hpsc/sdk/qemu/ipxe
[submodule "roms/openbios"]
	path = roms/openbios
	url = /projects/boeing/isi/hpsc/sdk/qemu/openbios
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = /projects/boeing/isi/hpsc/sdk/qemu/openhackware
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = /projects/boeing/isi/hpsc/sdk/qemu/qemu-palcode
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = /projects/boeing/isi/hpsc/sdk/qemu/sgabios
[submodule "dtc"]
	path = dtc
	url = /projects/boeing/isi/hpsc/sdk/qemu/dtc
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = /projects/boeing/isi/hpsc/sdk/qemu/u-boot
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = /projects/boeing/isi/hpsc/sdk/qemu/skiboot
[submodule "roms/QemuMacDrivers"]
	path = roms/QemuMacDrivers
	url = /projects/boeing/isi/hpsc/sdk/qemu/QemuMacDrivers
[submodule "ui/keycodemapdb"]
	path = ui/keycodemapdb
	url = /projects/boeing/isi/hpsc/sdk/qemu/keycodemapdb
[submodule "capstone"]
	path = capstone
	url = /projects/boeing/isi/hpsc/sdk/qemu/capstone
